/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.tabla_listado{border: solid 1px #333;}
.tabla_listado td{border-bottom: dotted 1px #333; border-right: dotted 1px #333;}
.tabla_listado th{background: #333; color: #fff;}
#zona_id_formulario{font-weight: bold}


.linea_pregunta{background-color: #ccc; font-size: 20px; font-weight: bold; }
.numero_pregunta{background-color: #f00; color: #fff; padding-left: 8px; padding-right: 8px;}
#pagina_encuesta input[type=text]{background: #ccc; border: solid 1px #000; margin-bottom: 8px; width: 80%;}
#pagina_encuesta input[type=radio]{height: 20px;}
.subpreguntas{display: none}
.presentacion, .gracias{background-color:cornsilk; font-size: 18px; padding: 8px;}
.seccion{background-color: orange; font-size: 18px; text-align: center}